body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

header img {
  max-width: 100px;
  border-radius: 50%;
  margin-top: 10px;
}
.hero-banner img {
width: 500px;

}


nav {
  background-color: #ae5757;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {

  padding: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left:20px;
}

section {
  /* padding: 30px; */
}

.page-section {
  display: flex;
  margin-bottom: 50px ;
  
}
.section-title {
width: 15%;
text-align: right;
border-right: 3px solid black;
padding-right: 20px;
margin-right: 40px;
}

.section-content {
  width: 80%;
}
#work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-item{
  min-height: 150px;
  flex:1 1 50%;
 
}
.flex-item div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}
/* #work img {
  max-width: 100%;
  border: 3px solid #a52222;
  transition: transform 0.2s;
}

#work img:first-child {
  transform: scale(1.1);
}

#work img:hover {
  transform: scale(1.1);
} */

.first-image{
  width:100%;
}

.surf-report {
  background-image: url("../images/02-portfolio-4.jpg");
}
.led-wall {
  background-image: url("../images/02-portfolio-1.jpg");
}
.calculator {
  background-image: url("../images/02-portfolio-2.jpg");
  width: 200%;
}
.pastel-puzzles {
  background-image: url("../images/02-portfolio-3.jpg");
}
.run-buddy {
  background-image: url("../images/02-run-buddy.jpg");
}
/* feature first portfolio item */
.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
background-color: white
}

.flex-item div {
background-color: white;
padding: 6px 8px;
}

.flex-item h3 {
font-size: 3.6rem;
}



